<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Header fragment</title>
    
  </head>
  <body>
  
    <header class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand me-2" href="#">Réservations</a>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Projet Réservations</h5>
      <form class="form-inline mt-2 mt-md-0" style=" margin-right:  30px;">
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-pills">
            <li th:classappend="${module == 'home' ? 'active' : ''}">
              <a href="#" th:href="@{/}">Home</a>
            </li>
            <li th:classappend="${module == 'artists' ? 'active' : ''}">
              <a href="#" th:href="@{/artists}">Artists</a>
            </li>
            <li th:classappend="${module == 'types' ? 'active' : ''}">
              <a href="#" th:href="@{/types}">Types</a>
            </li>
            <li th:classappend="${module == 'localities' ? 'active' : ''}">
              <a href="#" th:href="@{/localities}">Localities</a>
            </li>
            <li th:classappend="${module == 'roles' ? 'active' : ''}">
              <a href="#" th:href="@{/roles}">Roles</a>
            </li>
            <li th:classappend="${module == 'shows' ? 'active' : ''}">
              <a href="#" th:href="@{/shows}">Shows</a>
            </li>
            <li th:classappend="${module == 'representations' ? 'active' : ''}">
              <a href="#" th:href="@{/representations}">Representations</a>
            </li>
            
          </ul>
        </div>
            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">🔍</button>
          </form>
      <a class="btn btn-outline-primary" href="#" style="
    margin-right:  10px;
    background-color:  lightgreen;
    border-color: green;
    color:  darkgreen;
">Se connecter</a>
    <a class="btn btn-outline-primary" href="#">S'inscrire</a>
    </div>
        
        
      </div>
      
    </header>
  </body>
</html>
