<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<title>Liste des artistes</title>
</head>
<body>
	<div class="container">
		<div layout:fragment="content">
			<h1 class="rounded border border-dark p-2 m-2 text-center text-black bg-light" th:text="${title}">LISTE DES ARTISTES</h1>
			<br>


			<table class="table">
			<th:unless="${#lists.isEmpty(artists)}">
				<thead class="table-success">
					<tr>
						<th scope="col" >Id</th>
						<th scope="col">Firstname</th>
						<th scope="col">Lastname</th>
						<th colspan="3" style class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each ="artist: ${artists}">
						

							<th scope="row"th:text="${artist.id}"></th>
							<td th:text="${artist.firstname}">Bob</td>
							<td th:text="${artist.lastname}">Sull</td>
							<td><a th:href="@{/artists/{id}(id=${artist.id})}">View</a></td>
							<td><a th:href="@{/artists/{id}/edit(id=${artist.id})}">Edit</a></td>
							<td>
								<form th:id="|deleteForm-${artist.id}|"
									th:action="@{/artists/{id}(id=${artist.id})}"
									th:method="delete">
									<a href="#"
										th:onclick="|if(confirm('Confirm delete artist #${artist.id}')) 
	                    		document.getElementById('deleteForm-${artist.id}').submit(); 
	                    		return false;|">Delete</a>
								</form>
							</td>
					</tr>
				</tbody>
			</table>
			<div class="actions text-right">
				<button class="btn btn-outline-primary text-white"><a th:href="@{/artists/create}">Add new artist</a></button>
			</div>
		</div>
	</div>
	<br>
</body>
</html>