<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
 layout:decorate="~{layouts/main}">
<head>
<title>Liste des spectacles</title>
</head>
<body>
	<div class="container">
	     <div layout:fragment="content">
			 <div class="dropdown">
				 <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					 Category
				 </a>
				 <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					 <a th:each ="category : ${listCategory}" class="dropdown-item" th:href="@{'/shows/category/'+ ${category.id}}" th:text="${category.name}"></a>
				 </div>
			 </div>
			 <table class="table">
				<th:unless="${#lists.isEmpty(listShows)}">
				<thead class="table-success">
					<tr>
						<th scope="col" ><a th:href="@{'/shows/page/'+ ${currentPage} + '?sortField=title&sortDir=' + ${reserveSortDir}}">Titre</a></th>
						<th scope="col">Prix</th>
						<th scope="col">Représentation</th>
						<th colspan="2" style class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each ="show : ${listShows}">
						<th th:text="${show.title}"></th>
						<td th:if="${show.bookable}" th:text="${show.price} + ' €'"></td>
						<td><span th:if="${#lists.size(show.representations)==1}">1 representation</span>
							<span th:if="${#lists.size(show.representations)>1}"
							  th:text="| ${#lists.size(show.representations)} representations|">2 representations</span>
							<em th:if="${#lists.size(show.representations)==0}">aucune representation</em>
						</td>
						<td><a th:href="@{/shows/{id}(id=${show.id})}">View </a></td>
						<td><button type="button" class="btn btn-outline-primary text-black" onclick="loadDoc()">Bookable</button></td>
					</tr>
				</tbody>
				</th:unless>
			</table>

			 <div th:if="${totalPages>1}">
				 <div class="row col-sm-10">
					 <div class="col-sm-2">
						 Total : [[${totalItems}]]
					 </div>
					 <div class="col-sm-1">
						 <span th:each="i:${#numbers.sequence(1,totalPages)}">
							 <a th:if="${currentPage != i}" th:href="@{'/shows/page/'+ ${i} + '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
							 <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
						 </span>
					 </div>
					 <div class="col-sm-1">
						 <a th:if="${currentPage < totalPages}" th:href="@{'/shows/page/'+ ${currentPage + 1} + '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir}}">Next</a>
						 <span th:unless="${currentPage < totalPages}">Next</span>
					 </div>
					 <div class="col-sm-1">
						 <a th:if="${currentPage < totalPages}" th:href="@{'/shows/page/'+ ${totalPages} + '?sortField='+ ${sortField} +'&sortDir=' + ${sortDir}}">Last</a>
						 <span th:unless="${currentPage < totalPages}">Last</span>
					 </div>
				 </div>

			 </div>
<p id="demo"></p>
 
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("POST", "text/ajax_info.txt");
  xhttp.send();
}
</script>

		</li>
	        </ul>
	    </div>
	</div>
</body>
</html>
 