<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
 layout:decorate="~{layouts/main}">
<head>
<title>Fiche d'une representation</title>
</head>
<body>
	<div class="container">
	     <div layout:fragment="content">
		<article>
		        <h1 class="rounded border border-dark p-2 m-2 text-center text-black bg-light" th:text="'Représentation du '+${date}+' à '+${heure}">
			Representation du 15/01/2020 à 13:30
		        </h1><br>
		        
		        <table class="table">
		        <thead class="table-success">
						<tr>
						 
      <th scope="col">Spectacle</th>
      <th colspan="3" style class="text-center">Lieu</th>
     
		 </tr>
  </thead>
  <tbody>
    <tr>
	    <td><span th:text="${representation.show.title}">Ayiti</span>
		        </td>
		
		         
			<!--  <td><span th:if="${representation.location}" 
				th:text="${representation.location.designation}">
			        	Art Center
			 </span><td>
			 <td><span th:unless="${representation.location}" 
				th:if="${representation.show.location}" 
			        	th:text="${representation.show.location.designation}">
			        Art Center
			 </span>
			 <em th:if="${representation.location}==null and ${representation.show.location}==null"> -->
			        à déterminer
			 </em></td>
		       
		</article>
		</tr>
  </tbody>
</table>
	        
	        <nav><a th:href="@{/representations}">Retour à l'index</a></nav>
	     </div>
	     
	</div>
</body>
</html>
