
<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>

<div layout:fragment="content">
			<h1
				class="rounded border border-dark p-2 m-2 text-center text-black bg-light">Nouvelle
				salle </h1>
			<br> <br>

			<form th:action="@{/rooms/create}" th:object="${room}"
				method="POST">
				<div>
					

					<label>Nom de la nouvelle salle</label><br>
					 <select th:field="*{name}" required minlength="2" maxlength="10">
					  <option value="default">Select une salle </option>
						<option th:each= "roomName : ${roomName}" th:value="${Name}" 
							th:text="${roomName}" />
					</select>
					 <br><br>
					<div>
						<button type="submit" class="btn btn-outline-primary text-black"
							th:text="Modifier">Modifier</button>
						<button type="reset" class="btn btn-outline-primary text-black"
							th:text="Reinitialiser">Reinitialiser</button>
						<button type="reset" class="btn btn-outline-primary text-black">
							<a th:href="@{/rooms}"></a>Annuler
						</button>
					</div>
			</form>
			<br> <br>
			<div class="actions text-right">
				<button class="btn btn-outline-primary text-black">
					
						<a th:href="@{/rooms}">Retour a l'index</a>
					
				</button>
			</div>

		</div>
	</div>
</body>
</html>
